/* Import google fonts - Poppins, Ma Shan Zheng, Noto Sans SC */
@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+SC:wght@400;700&family=Poppins:wght@400;500;700&display=swap");
/* 
font-family: 'Ma Shan Zheng', cursive;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111827;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.ch {
  font-family: "Noto Sans SC", sans-serif;
}
.ch-c {
  font-family: "Ma Shan Zheng", cursive;
}
